<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dayTime</key>
		<string>6:00</string>
		<key>light</key>
		<string>500</string>
		<key>CCTK</key>
		<string>2550</string>
		<key>x</key>
		<string>0.477</string>
		<key>y</key>
		<string>0.414</string>
		<key>D1</key>
		<string>007</string>
		<key>D2</key>
		<string>055</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>6:15</string>
		<key>light</key>
		<string>550</string>
		<key>CCTK</key>
		<string>2700</string>
		<key>x</key>
		<string>0.460</string>
		<key>y</key>
		<string>0.411</string>
		<key>D1</key>
		<string>010</string>
		<key>D2</key>
		<string>060</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>6:30</string>
		<key>light</key>
		<string>650</string>
		<key>CCTK</key>
		<string>2900</string>
		<key>x</key>
		<string>0.444</string>
		<key>y</key>
		<string>0.407</string>
		<key>D1</key>
		<string>015</string>
		<key>D2</key>
		<string>065</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>6:45</string>
		<key>light</key>
		<string>850</string>
		<key>CCTK</key>
		<string>3100</string>
		<key>x</key>
		<string>0.430</string>
		<key>y</key>
		<string>0.402</string>
		<key>D1</key>
		<string>024</string>
		<key>D2</key>
		<string>078</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>7:00</string>
		<key>light</key>
		<string>1200</string>
		<key>CCTK</key>
		<string>3400</string>
		<key>x</key>
		<string>0.411</string>
		<key>y</key>
		<string>0.394</string>
		<key>D1</key>
		<string>041</string>
		<key>D2</key>
		<string>098</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>7:15</string>
		<key>light</key>
		<string>1500</string>
		<key>CCTK</key>
		<string>3800</string>
		<key>x</key>
		<string>0.390</string>
		<key>y</key>
		<string>0.382</string>
		<key>D1</key>
		<string>062</string>
		<key>D2</key>
		<string>105</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>7:30</string>
		<key>light</key>
		<string>1700</string>
		<key>CCTK</key>
		<string>4200</string>
		<key>x</key>
		<string>0.374</string>
		<key>y</key>
		<string>0.379</string>
		<key>D1</key>
		<string>080</string>
		<key>D2</key>
		<string>100</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>7:45</string>
		<key>light</key>
		<string>1900</string>
		<key>CCTK</key>
		<string>4600</string>
		<key>x</key>
		<string>0.359</string>
		<key>y</key>
		<string>0.368</string>
		<key>D1</key>
		<string>100</string>
		<key>D2</key>
		<string>095</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>8:00</string>
		<key>light</key>
		<string>2050</string>
		<key>CCTK</key>
		<string>5000</string>
		<key>x</key>
		<string>0.346</string>
		<key>y</key>
		<string>0.359</string>
		<key>D1</key>
		<string>120</string>
		<key>D2</key>
		<string>082</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>8:15</string>
		<key>light</key>
		<string>2200</string>
		<key>CCTK</key>
		<string>5300</string>
		<key>x</key>
		<string>0.338</string>
		<key>y</key>
		<string>0.352</string>
		<key>D1</key>
		<string>135</string>
		<key>D2</key>
		<string>076</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>8:30</string>
		<key>light</key>
		<string>2330</string>
		<key>CCTK</key>
		<string>5700</string>
		<key>x</key>
		<string>0.328</string>
		<key>y</key>
		<string>0.344</string>
		<key>D1</key>
		<string>155</string>
		<key>D2</key>
		<string>063</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>8:45</string>
		<key>light</key>
		<string>2500</string>
		<key>CCTK</key>
		<string>6000</string>
		<key>x</key>
		<string>0.322</string>
		<key>y</key>
		<string>0.338</string>
		<key>D1</key>
		<string>172</string>
		<key>D2</key>
		<string>055</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>9:00</string>
		<key>light</key>
		<string>2750</string>
		<key>CCTK</key>
		<string>6400</string>
		<key>x</key>
		<string>0.314</string>
		<key>y</key>
		<string>0.331</string>
		<key>D1</key>
		<string>200</string>
		<key>D2</key>
		<string>045</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>9:15</string>
		<key>light</key>
		<string>2895</string>
		<key>CCTK</key>
		<string>6700</string>
		<key>x</key>
		<string>0.310</string>
		<key>y</key>
		<string>0.326</string>
		<key>D1</key>
		<string>215</string>
		<key>D2</key>
		<string>038</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>9:30</string>
		<key>light</key>
		<string>2950</string>
		<key>CCTK</key>
		<string>6900</string>
		<key>x</key>
		<string>0.307</string>
		<key>y</key>
		<string>0.323</string>
		<key>D1</key>
		<string>225</string>
		<key>D2</key>
		<string>031</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>9:45</string>
		<key>light</key>
		<string>3030</string>
		<key>CCTK</key>
		<string>7100</string>
		<key>x</key>
		<string>0.304</string>
		<key>y</key>
		<string>0.320</string>
		<key>D1</key>
		<string>235</string>
		<key>D2</key>
		<string>025</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>10:00</string>
		<key>light</key>
		<string>3105</string>
		<key>CCTK</key>
		<string>7300</string>
		<key>x</key>
		<string>0.302</string>
		<key>y</key>
		<string>0.318</string>
		<key>D1</key>
		<string>243</string>
		<key>D2</key>
		<string>020</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>10:15</string>
		<key>light</key>
		<string>3125</string>
		<key>CCTK</key>
		<string>7330</string>
		<key>x</key>
		<string>0.3016</string>
		<key>y</key>
		<string>0.3175</string>
		<key>D1</key>
		<string>245</string>
		<key>D2</key>
		<string>019</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>10:30</string>
		<key>light</key>
		<string>3135</string>
		<key>CCTK</key>
		<string>7360</string>
		<key>x</key>
		<string>0.3013</string>
		<key>y</key>
		<string>0.317</string>
		<key>D1</key>
		<string>247</string>
		<key>D2</key>
		<string>018</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>10:45</string>
		<key>light</key>
		<string>3145</string>
		<key>CCTK</key>
		<string>7380</string>
		<key>x</key>
		<string>0.3007</string>
		<key>y</key>
		<string>0.3165</string>
		<key>D1</key>
		<string>249</string>
		<key>D2</key>
		<string>016</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>11:00</string>
		<key>light</key>
		<string>3155</string>
		<key>CCTK</key>
		<string>7400</string>
		<key>x</key>
		<string>0.300</string>
		<key>y</key>
		<string>0.316</string>
		<key>D1</key>
		<string>250</string>
		<key>D2</key>
		<string>015</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>11:15</string>
		<key>light</key>
		<string>3165</string>
		<key>CCTK</key>
		<string>7440</string>
		<key>x</key>
		<string>0.2995</string>
		<key>y</key>
		<string>0.3155</string>
		<key>D1</key>
		<string>252</string>
		<key>D2</key>
		<string>014</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>11:30</string>
		<key>light</key>
		<string>3170</string>
		<key>CCTK</key>
		<string>7460</string>
		<key>x</key>
		<string>0.299</string>
		<key>y</key>
		<string>0.315</string>
		<key>D1</key>
		<string>253</string>
		<key>D2</key>
		<string>013</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>11:45</string>
		<key>light</key>
		<string>3185</string>
		<key>CCTK</key>
		<string>7480</string>
		<key>x</key>
		<string>0.2985</string>
		<key>y</key>
		<string>0.3145</string>
		<key>D1</key>
		<string>254</string>
		<key>D2</key>
		<string>012</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>12:00</string>
		<key>light</key>
		<string>3200</string>
		<key>CCTK</key>
		<string>7500</string>
		<key>x</key>
		<string>0.298</string>
		<key>y</key>
		<string>0.314</string>
		<key>D1</key>
		<string>255</string>
		<key>D2</key>
		<string>010</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>12:15</string>
		<key>light</key>
		<string>3185</string>
		<key>CCTK</key>
		<string>7480</string>
		<key>x</key>
		<string>0.2985</string>
		<key>y</key>
		<string>0.3145</string>
		<key>D1</key>
		<string>254</string>
		<key>D2</key>
		<string>012</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>12:30</string>
		<key>light</key>
		<string>3170</string>
		<key>CCTK</key>
		<string>7460</string>
		<key>x</key>
		<string>0.299</string>
		<key>y</key>
		<string>0.315</string>
		<key>D1</key>
		<string>253</string>
		<key>D2</key>
		<string>013</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>12:45</string>
		<key>light</key>
		<string>3165</string>
		<key>CCTK</key>
		<string>7440</string>
		<key>x</key>
		<string>0.2995</string>
		<key>y</key>
		<string>0.3155</string>
		<key>D1</key>
		<string>252</string>
		<key>D2</key>
		<string>014</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>13:00</string>
		<key>light</key>
		<string>3155</string>
		<key>CCTK</key>
		<string>7400</string>
		<key>x</key>
		<string>0.300</string>
		<key>y</key>
		<string>0.316</string>
		<key>D1</key>
		<string>250</string>
		<key>D2</key>
		<string>015</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>13:15</string>
		<key>light</key>
		<string>3145</string>
		<key>CCTK</key>
		<string>7380</string>
		<key>x</key>
		<string>0.3007</string>
		<key>y</key>
		<string>0.3165</string>
		<key>D1</key>
		<string>249</string>
		<key>D2</key>
		<string>017</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>13:30</string>
		<key>light</key>
		<string>3135</string>
		<key>CCTK</key>
		<string>7360</string>
		<key>x</key>
		<string>0.3013</string>
		<key>y</key>
		<string>0.317</string>
		<key>D1</key>
		<string>247</string>
		<key>D2</key>
		<string>018</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>13:45</string>
		<key>light</key>
		<string>3125</string>
		<key>CCTK</key>
		<string>7330</string>
		<key>x</key>
		<string>0.3016</string>
		<key>y</key>
		<string>0.3175</string>
		<key>D1</key>
		<string>245</string>
		<key>D2</key>
		<string>019</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>14:00</string>
		<key>light</key>
		<string>3090</string>
		<key>CCTK</key>
		<string>7300</string>
		<key>x</key>
		<string>0.302</string>
		<key>y</key>
		<string>0.318</string>
		<key>D1</key>
		<string>243</string>
		<key>D2</key>
		<string>020</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>14:15</string>
		<key>light</key>
		<string>3030</string>
		<key>CCTK</key>
		<string>7200</string>
		<key>x</key>
		<string>0.303</string>
		<key>y</key>
		<string>0.319</string>
		<key>D1</key>
		<string>235</string>
		<key>D2</key>
		<string>022</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>14:30</string>
		<key>light</key>
		<string>2970</string>
		<key>CCTK</key>
		<string>7000</string>
		<key>x</key>
		<string>0.305</string>
		<key>y</key>
		<string>0.322</string>
		<key>D1</key>
		<string>227</string>
		<key>D2</key>
		<string>026</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>14:45</string>
		<key>light</key>
		<string>2910</string>
		<key>CCTK</key>
		<string>6700</string>
		<key>x</key>
		<string>0.310</string>
		<key>y</key>
		<string>0.326</string>
		<key>D1</key>
		<string>216</string>
		<key>D2</key>
		<string>038</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>15:00</string>
		<key>light</key>
		<string>2858</string>
		<key>CCTK</key>
		<string>6400</string>
		<key>x</key>
		<string>0.314</string>
		<key>y</key>
		<string>0.331</string>
		<key>D1</key>
		<string>208</string>
		<key>D2</key>
		<string>046</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>15:15</string>
		<key>light</key>
		<string>2800</string>
		<key>CCTK</key>
		<string>6000</string>
		<key>x</key>
		<string>0.322</string>
		<key>y</key>
		<string>0.338</string>
		<key>D1</key>
		<string>193</string>
		<key>D2</key>
		<string>063</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>15:30</string>
		<key>light</key>
		<string>2720</string>
		<key>CCTK</key>
		<string>5700</string>
		<key>x</key>
		<string>0.328</string>
		<key>y</key>
		<string>0.344</string>
		<key>D1</key>
		<string>180</string>
		<key>D2</key>
		<string>073</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>15:45</string>
		<key>light</key>
		<string>2630</string>
		<key>CCTK</key>
		<string>5300</string>
		<key>x</key>
		<string>0.338</string>
		<key>y</key>
		<string>0.352</string>
		<key>D1</key>
		<string>163</string>
		<key>D2</key>
		<string>091</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>16:00</string>
		<key>light</key>
		<string>2520</string>
		<key>CCTK</key>
		<string>5000</string>
		<key>x</key>
		<string>0.346</string>
		<key>y</key>
		<string>0.359</string>
		<key>D1</key>
		<string>147</string>
		<key>D2</key>
		<string>102</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>16:15</string>
		<key>light</key>
		<string>2415</string>
		<key>CCTK</key>
		<string>4800</string>
		<key>x</key>
		<string>0.352</string>
		<key>y</key>
		<string>0.363</string>
		<key>D1</key>
		<string>135</string>
		<key>D2</key>
		<string>108</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>16:30</string>
		<key>light</key>
		<string>2280</string>
		<key>CCTK</key>
		<string>4500</string>
		<key>x</key>
		<string>0.362</string>
		<key>y</key>
		<string>0.371</string>
		<key>D1</key>
		<string>118</string>
		<key>D2</key>
		<string>118</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>16:45</string>
		<key>light</key>
		<string>2170</string>
		<key>CCTK</key>
		<string>4300</string>
		<key>x</key>
		<string>0.370</string>
		<key>y</key>
		<string>0.376</string>
		<key>D1</key>
		<string>105</string>
		<key>D2</key>
		<string>123</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>17:00</string>
		<key>light</key>
		<string>2033</string>
		<key>CCTK</key>
		<string>4000</string>
		<key>x</key>
		<string>0.382</string>
		<key>y</key>
		<string>0.384</string>
		<key>D1</key>
		<string>090</string>
		<key>D2</key>
		<string>132</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>17:15</string>
		<key>light</key>
		<string>1800</string>
		<key>CCTK</key>
		<string>3800</string>
		<key>x</key>
		<string>0.390</string>
		<key>y</key>
		<string>0.382</string>
		<key>D1</key>
		<string>075</string>
		<key>D2</key>
		<string>125</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>17:30</string>
		<key>light</key>
		<string>1500</string>
		<key>CCTK</key>
		<string>3700</string>
		<key>x</key>
		<string>0.395</string>
		<key>y</key>
		<string>0.385</string>
		<key>D1</key>
		<string>060</string>
		<key>D2</key>
		<string>109</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>17:45</string>
		<key>light</key>
		<string>1200</string>
		<key>CCTK</key>
		<string>3500</string>
		<key>x</key>
		<string>0.405</string>
		<key>y</key>
		<string>0.391</string>
		<key>D1</key>
		<string>044</string>
		<key>D2</key>
		<string>095</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>18:00</string>
		<key>light</key>
		<string>900</string>
		<key>CCTK</key>
		<string>3300</string>
		<key>x</key>
		<string>0.417</string>
		<key>y</key>
		<string>0.396</string>
		<key>D1</key>
		<string>029</string>
		<key>D2</key>
		<string>077</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>18:15</string>
		<key>light</key>
		<string>750</string>
		<key>CCTK</key>
		<string>3200</string>
		<key>x</key>
		<string>0.423</string>
		<key>y</key>
		<string>0.399</string>
		<key>D1</key>
		<string>023</string>
		<key>D2</key>
		<string>067</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>18:30</string>
		<key>light</key>
		<string>650</string>
		<key>CCTK</key>
		<string>3100</string>
		<key>x</key>
		<string>0.430</string>
		<key>y</key>
		<string>0.402</string>
		<key>D1</key>
		<string>018</string>
		<key>D2</key>
		<string>060</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>18:45</string>
		<key>light</key>
		<string>570</string>
		<key>CCTK</key>
		<string>3000</string>
		<key>x</key>
		<string>0.437</string>
		<key>y</key>
		<string>0.404</string>
		<key>D1</key>
		<string>015</string>
		<key>D2</key>
		<string>055</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>19:00</string>
		<key>light</key>
		<string>500</string>
		<key>CCTK</key>
		<string>2850</string>
		<key>x</key>
		<string>0.452</string>
		<key>y</key>
		<string>0.409</string>
		<key>D1</key>
		<string>011</string>
		<key>D2</key>
		<string>052</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>19:15</string>
		<key>light</key>
		<string>460</string>
		<key>CCTK</key>
		<string>2700</string>
		<key>x</key>
		<string>0.460</string>
		<key>y</key>
		<string>0.411</string>
		<key>D1</key>
		<string>008</string>
		<key>D2</key>
		<string>050</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>19:30</string>
		<key>light</key>
		<string>400</string>
		<key>CCTK</key>
		<string>2600</string>
		<key>x</key>
		<string>0.468</string>
		<key>y</key>
		<string>0.412</string>
		<key>D1</key>
		<string>006</string>
		<key>D2</key>
		<string>045</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>19:45</string>
		<key>light</key>
		<string>360</string>
		<key>CCTK</key>
		<string>2500</string>
		<key>x</key>
		<string>0.477</string>
		<key>y</key>
		<string>0.414</string>
		<key>D1</key>
		<string>005</string>
		<key>D2</key>
		<string>042</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>20:00</string>
		<key>light</key>
		<string>320</string>
		<key>CCTK</key>
		<string>2400</string>
		<key>x</key>
		<string>0.486</string>
		<key>y</key>
		<string>0.415</string>
		<key>D1</key>
		<string>004</string>
		<key>D2</key>
		<string>040</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>20:15</string>
		<key>light</key>
		<string>315</string>
		<key>CCTK</key>
		<string>2350</string>
		<key>x</key>
		<string>0.491</string>
		<key>y</key>
		<string>0.415</string>
		<key>D1</key>
		<string>003</string>
		<key>D2</key>
		<string>039</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>20:30</string>
		<key>light</key>
		<string>310</string>
		<key>CCTK</key>
		<string>2300</string>
		<key>x</key>
		<string>0.496</string>
		<key>y</key>
		<string>0.415</string>
		<key>D1</key>
		<string>002</string>
		<key>D2</key>
		<string>038</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>20:45</string>
		<key>light</key>
		<string>305</string>
		<key>CCTK</key>
		<string>2250</string>
		<key>x</key>
		<string>0.501</string>
		<key>y</key>
		<string>0.415</string>
		<key>D1</key>
		<string>002</string>
		<key>D2</key>
		<string>037</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>21:00</string>
		<key>light</key>
		<string>300</string>
		<key>CCTK</key>
		<string>2200</string>
		<key>x</key>
		<string>0.506</string>
		<key>y</key>
		<string>0.415</string>
		<key>D1</key>
		<string>002</string>
		<key>D2</key>
		<string>036</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>21:15</string>
		<key>light</key>
		<string>295</string>
		<key>CCTK</key>
		<string>2150</string>
		<key>x</key>
		<string>0.512</string>
		<key>y</key>
		<string>0.415</string>
		<key>D1</key>
		<string>001</string>
		<key>D2</key>
		<string>035</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>21:30</string>
		<key>light</key>
		<string>290</string>
		<key>CCTK</key>
		<string>2100</string>
		<key>x</key>
		<string>0.516</string>
		<key>y</key>
		<string>0.415</string>
		<key>D1</key>
		<string>001</string>
		<key>D2</key>
		<string>034</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>21:45</string>
		<key>light</key>
		<string>285</string>
		<key>CCTK</key>
		<string>2050</string>
		<key>x</key>
		<string>0.521</string>
		<key>y</key>
		<string>0.414</string>
		<key>D1</key>
		<string>001</string>
		<key>D2</key>
		<string>033</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>22:00</string>
		<key>light</key>
		<string>265</string>
		<key>CCTK</key>
		<string>2000</string>
		<key>x</key>
		<string>0.5316</string>
		<key>y</key>
		<string>0.4132</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>030</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>22:15</string>
		<key>light</key>
		<string>240</string>
		<key>CCTK</key>
		<string>1900</string>
		<key>x</key>
		<string>0.5408</string>
		<key>y</key>
		<string>0.4133</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>013</string>
		<key>D3</key>
		<string>046</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>22:30</string>
		<key>light</key>
		<string>200</string>
		<key>CCTK</key>
		<string>1800</string>
		<key>x</key>
		<string>0.5504</string>
		<key>y</key>
		<string>0.4139</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>011</string>
		<key>D3</key>
		<string>038</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>22:45</string>
		<key>light</key>
		<string>170</string>
		<key>CCTK</key>
		<string>1650</string>
		<key>x</key>
		<string>0.5876</string>
		<key>y</key>
		<string>0.4056</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>009</string>
		<key>D3</key>
		<string>032</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>23:00</string>
		<key>light</key>
		<string>120</string>
		<key>CCTK</key>
		<string>1550</string>
		<key>x</key>
		<string>0.5989</string>
		<key>y</key>
		<string>0.3889</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>006</string>
		<key>D3</key>
		<string>023</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>23:15</string>
		<key>light</key>
		<string>80</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3889</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>004</string>
		<key>D3</key>
		<string>015</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>23:30</string>
		<key>light</key>
		<string>50</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3889</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>003</string>
		<key>D3</key>
		<string>016</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>23:45</string>
		<key>light</key>
		<string>20</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3889</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>003</string>
		<key>D3</key>
		<string>014</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>0:00</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>002</string>
		<key>D3</key>
		<string>012</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>0:15</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>002</string>
		<key>D3</key>
		<string>009</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>0:30</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>002</string>
		<key>D3</key>
		<string>008</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>0:45</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>001</string>
		<key>D3</key>
		<string>006</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>1:00</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>005</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>1:15</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>003</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>1:30</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>002</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>1:45</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>002</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>2:00</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>002</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>2:15</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>002</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>2:30</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>002</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>2:45</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>002</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>3:00</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>002</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>3:15</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>002</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>3:30</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>002</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>3:45</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>002</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>4:00</string>
		<key>light</key>
		<string>6</string>
		<key>CCTK</key>
		<string>1500</string>
		<key>x</key>
		<string>0.6007</string>
		<key>y</key>
		<string>0.3892</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>000</string>
		<key>D3</key>
		<string>002</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>4:15</string>
		<key>light</key>
		<string>27</string>
		<key>CCTK</key>
		<string>1550</string>
		<key>x</key>
		<string>0.5989</string>
		<key>y</key>
		<string>0.3923</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>004</string>
		<key>D3</key>
		<string>018</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>4:30</string>
		<key>light</key>
		<string>48</string>
		<key>CCTK</key>
		<string>1650</string>
		<key>x</key>
		<string>0.5876</string>
		<key>y</key>
		<string>0.4056</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>010</string>
		<key>D3</key>
		<string>020</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>4:45</string>
		<key>light</key>
		<string>77</string>
		<key>CCTK</key>
		<string>1800</string>
		<key>x</key>
		<string>0.5504</string>
		<key>y</key>
		<string>0.4139</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>020</string>
		<key>D3</key>
		<string>007</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>5:00</string>
		<key>light</key>
		<string>115</string>
		<key>CCTK</key>
		<string>2000</string>
		<key>x</key>
		<string>0.5316</string>
		<key>y</key>
		<string>0.4232</string>
		<key>D1</key>
		<string>000</string>
		<key>D2</key>
		<string>016</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>5:15</string>
		<key>light</key>
		<string>170</string>
		<key>CCTK</key>
		<string>2150</string>
		<key>x</key>
		<string>0.512</string>
		<key>y</key>
		<string>0.4155</string>
		<key>D1</key>
		<string>001</string>
		<key>D2</key>
		<string>023</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>5:30</string>
		<key>light</key>
		<string>220</string>
		<key>CCTK</key>
		<string>2300</string>
		<key>x</key>
		<string>0.4961</string>
		<key>y</key>
		<string>0.4149</string>
		<key>D1</key>
		<string>002</string>
		<key>D2</key>
		<string>028</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>5:45</string>
		<key>light</key>
		<string>350</string>
		<key>CCTK</key>
		<string>2400</string>
		<key>x</key>
		<string>0.4864</string>
		<key>y</key>
		<string>0.4138</string>
		<key>D1</key>
		<string>004</string>
		<key>D2</key>
		<string>042</string>
		<key>D3</key>
		<string>000</string>
	</dict>
	<dict>
		<key>dayTime</key>
		<string>6:00</string>
		<key>light</key>
		<string>500</string>
		<key>CCTK</key>
		<string>2550</string>
		<key>x</key>
		<string>0.477</string>
		<key>y</key>
		<string>0.414</string>
		<key>D1</key>
		<string>007</string>
		<key>D2</key>
		<string>055</string>
		<key>D3</key>
		<string>000</string>
	</dict>
</array>
</plist>
